.uploader {
  min-height: 400px;
  width: 100%;
  border: 10px dashed $primary-color;
  border-radius: 10px;
  transition: .3s;
  position: relative;
}
.uploader:hover {
  border: 10px dashed $primary-active-color;
}
.inputFile {
  display: none;
}
.inputFile + label {
  font-size: 1.25em;
  font-weight: 600;
  display: inline-block;
}
.uploader__title {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.uploader__title label {
  cursor: pointer;
}
.uploader__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.uploader__list_item img{
  width: 120px;
  height: auto;
}
