<template>
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <header-gallery class="text-left">
      <template v-slot:header>
        <p class="d-inline mb-0">Select a folder</p>
      </template>
    </header-gallery>
    <div
      @dragover="dragover($event)"
      @drop="drop($event)"
      class="mt-3 p-3 uploader"
      draggable="true"
    >
      <div v-if="imgInBase64.length === 0" class="uploader__title">
        <input @change="inputFile($event)" type="file" name="file" id="file" class="inputFile" accept="image/jpeg, image/png"/>
        <p class="mb-0">Drop files here or <label  class="text-primary text-decoration" for="file">Browse</label> to upload</p>
      </div>
      <div class="uploader__list">
        <div
          v-for="img in imgInBase64"
          :key="img"
          class="uploader__list_item mr-3 mb-3"
        >
          <img :src="img" alt="uploaded img" class="rounded-sm">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * This component is used to upload pictures to your Imgur account.
 * You can choose pictures individually or in bulk.
 * You can also use drag on drop to upload pictures.
 * The image is converted to a base64 string and sent to the Imgur server
 */

import api from '@api'
import headerGallery from '@/components/gallery/header'

export default {
  name: 'index.vue',
  components: {
    headerGallery
  },
  data () {
    return {
      selectedAlbum: '',
      imgInBase64: [],
      dropEffect: 'copy'
    }
  },
  methods: {
    convertToBase64 (file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result)
        reader.onerror = error => reject(error)
      })
    },
    cancelEventDefault (e) {
      e.stopPropagation()
      e.preventDefault()
      e.dataTransfer.dropEffect = this.dropEffect
    },
    dragover (ev) {
      this.cancelEventDefault(ev)
    },
    async drop (ev) {
      this.cancelEventDefault(ev)
      const files = ev.dataTransfer.files
      await this.setImgInBase64(files)
    },
    async inputFile (ev) {
      const file = ev.target.files
      await this.setImgInBase64(file)
    },
    async setImgInBase64 (files = []) {
      for await (let img of files) {
        const base64String = await this.convertToBase64(img)
        await api.uploadImage({image: base64String.split('base64,')[1]})
        this.imgInBase64.push(base64String)
      }
    }
  }
}
</script>
