<template>
  <div
    @click="$emit('headerAction')"
    class="header-gallery"
  >
    <slot name="header"></slot>
    <hr>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>
  .header-gallery {
    margin: 16px 0;
    cursor: pointer;
  }
</style>
