<template>
  <div>
    <header-gallery @headerAction="headerAction">
      <template v-slot:header>
        <i class="fa fa-chevron-left text-secondary fa-lg" aria-hidden="true"></i>
        <i class="fa fa-folder text-secondary fa-lg" aria-hidden="true"></i>
        <p class="d-inline mb-0">{{albumData.title}}</p>
      </template>
    </header-gallery>
    <div class="album_list">
      <div
        v-for="(img, key) in albumData.images"
        :key="key"
        @click="toggleRoute({id: img.id, albumId: albumData.id})"
        class="album_list__image"
      >
        <img :src="img.link" class="rounded-top" alt="image">
        <div class="border border-top-0 border-secondary rounded-bottom album_list__image_select pl-1 pr-1">
          <i class="fa fa-check text-primary" aria-hidden="true"></i>
          <span class="text-primary">Select</span>
        </div>
      </div>
    </div>
    <hr>
  </div>
</template>

<script>
import api from '@api'
import headerGallery from '@/components/gallery/header'

export default {
  name: 'imageList',
  components: {
    headerGallery
  },
  data () {
    return {
      albumData: {}
    }
  },
  methods: {
    setData (data) {
      this.albumData = data
    },
    toggleRoute (params) {
      this.$router.push({name: 'imageView', params})
    },
    headerAction () {
      this.$router.push({name: 'albumsList'})
    }
  },
  async beforeRouteEnter (to, from, next) {
    const { id } = to.params
    const { data } = await api.get(`/album/${id}`)
    next(vm => {
      vm.setData(data)
    })
  }
}
</script>

<style scoped>
  .album_list {
    display: flex;
    flex-wrap: wrap;
  }
  .album_list__image {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px 8px 0;
    width: 115px;
    height: auto;
  }
  .album_list__image_select {
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .album_list__image img {
    /*width: 115px;*/
    width: 100%;
    height: 100%;
  }
</style>
