<template>
  <div v-if="img !== null">
    <header-gallery @headerAction="toggleRoute">
      <template v-slot:header>
        <i class="fa fa-chevron-left text-secondary fa-lg" aria-hidden="true"></i>
        <p class="d-inline mb-0">{{img.name}}</p>
      </template>
    </header-gallery>
    <div class="text-center">
      <img :src="img.link" alt="image">
    </div>
    <div>
      <table class="table table-borderless table_data_img">
        <tbody>
        <tr>
          <td>File name: </td>
          <td>{{img.name}}</td>
        </tr>
        <tr>
          <td>Title: </td>
          <td>{{img.title}}</td>
        </tr>
        <tr>
          <td>Description: </td>
          <td>{{img.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import api from '@api'
import headerGallery from '@/components/gallery/header'

export default {
  name: 'imageView',
  components: {
    headerGallery
  },
  data () {
    return {
      img: null
    }
  },
  methods: {
    setData (data = null) {
      this.img = data
    },
    toggleRoute () {
      const albumId = this.$route.params.albumId
      if (typeof albumId !== 'undefined') {
        this.$router.push({name: 'imageList', params: {id: albumId}})
        return
      }
      this.$router.push({name: 'albumsList'})
    }
  },
  async beforeRouteEnter (to, from, next) {
    const { id } = to.params
    const { data } = await api.get(`/image/${id}`)
    next(vm => {
      vm.setData(data)
    })
  }
}
</script>

<style scoped>
  .table_data_img tr > td:first-child{
    width: 20%;
    font-weight: bold;
  }
  img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
</style>
