<template>
  <div>
    <header-gallery>
      <template v-slot:header>
        <p class="mb-0">Welcome, {{getName}}</p>
      </template>
    </header-gallery>
    <div class="albums">
      <div
        v-for="(al, key) in albums"
        :key="key"
        @click="$router.push({name: 'imageList', params: {id: al.id}})"
      >
        <div class="albums__item">
          <div class="albums__item__preview">
            <img class="rounded-sm" :src="getCoverUrl(al.cover)" alt="cover albums">
            <div class="albums__item__title">
              <p class="text-primary">{{al.title}}</p>
              <small class="text-secondary">
                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                {{al.images_count}} files
              </small>
              <small class="text-secondary">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                Last update: {{convertDate(al.datetime * 1000)}}
              </small>
            </div>
          </div>
          <div class="albums__item_arrow">
            <i class="fa fa-chevron-right fa-lg text-primary" aria-hidden="true"></i>
            <i class="fa fa-chevron-right fa-lg text-primary" aria-hidden="true"></i>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@api'
import { getItemFromLocalStorage } from '@api/jwt.service'
import headerGallery from '@/components/gallery/header'

export default {
  name: 'list',
  components: {
    headerGallery
  },
  data () {
    return {
      albums: [],
      albumsCoverUrl: process.env.ALBUMS_COVER
    }
  },
  computed: {
    getName () {
      return getItemFromLocalStorage('account_username')
    },
    getCoverUrl () {
      return (cover) => {
        return `${this.albumsCoverUrl}${cover}s.jpg`
      }
    },
    convertDate () {
      return (datetime) => {
        return new Date(datetime * 1000).toLocaleString()
      }
    }
  },
  methods: {
    setData (data) {
      this.albums = data
    }
  },
  async beforeRouteEnter (to, from, next) {
    const { data } = await api.get('/albums')
    next(vm => {
      vm.setData(data)
    })
  }
}
</script>

<style scoped>
  .albums {
    padding: 0 16px;
  }
  .albums > div {
    opacity: .7;
    transition: .3s;
    cursor: pointer;
  }
  .albums > div:hover {
    opacity: 1;
  }
  .albums__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .albums__item__preview {
    display: inline-flex;
    align-items: flex-start;
  }
  .albums__item__title {
    margin-left: 8px;
    display: inline-flex;
    flex-direction: column;
  }
  .albums__item__title p {
    margin: 0;
    font-weight: 600;
  }
  .albums__item_arrow > i:first-child {
    margin-right: -10px;
  }
</style>
