<template>
  <div class="container">
    <nav>
      <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <router-link
          v-for="(link, key) in navLinks"
          :key="key"
          class="nav-item nav-link"
          :class="{
            'disabled': link.disable,
            'disable': link.disable,
            'active': typeof isActiveTab(link.route) !== 'undefined'
          }"
          :disabled="link.disable"
          :to="{name: link.route}"
          data-toggle="tab"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
        >
          <i
            class="fa fa-3x"
            :class="{[link.icon]: true}"
            aria-hidden="true"></i>
        </router-link>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <router-view/>
    </div>
  </div>
</template>

<script>
/**
 * Entrance point for the gallery which contains navigation
 */

export default {
  data () {
    return {
      navLinks: [
        {
          disable: false,
          icon: 'fa-picture-o',
          route: 'albums'
        },
        {
          disable: true,
          icon: 'fa-th-large',
          route: ''
        },
        {
          disable: true,
          icon: 'fa-map-marker',
          route: ''
        },
        {
          disable: true,
          icon: 'fa-comment',
          route: ''
        },
        {
          disable: true,
          icon: 'fa-square-o',
          route: ''
        },
        {
          disable: false,
          icon: 'fa-upload',
          route: 'uploader'
        }
      ]
    }
  },
  computed: {
    isActiveTab () {
      return (name) => {
        return this.$route.matched.find(route => route.name === name)
      }
    }
  }
}
</script>

<style scoped>
  .disable {
    opacity: .6;
  }
</style>
