<template>
  <div class="container">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="name">Client Id</label>
              <input
                v-model="clientId"
                placeholder="Please enter your client ID imgur"
                type="text"
                class="form-control"
                id="name"
              >
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary" @click="singIn">Sing in</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * This component is used to enter a user ID and.
 * After you allow access to the application, Imgur will redirect to the same component with hash string
 * The hash string is parsed into routing middleware for this component
 */

import { singIn } from '@api/jwt.service'
export default {
  data () {
    return {
      // 98991eabc234745
      clientId: ''
    }
  },
  methods: {
    singIn () {
      singIn(this.clientId)
    }
  }
}
</script>

<style scoped>

</style>
